{{ define "main" }}

<article class="post-single">
    <div class="post-content">
        {{ .Content }}
    </div>
</article>

{{ $jobs := site.Data.jobs }}
{{ if $jobs }}
<section class="home-section">
    <h3>Employment</h3>
    <div class="timeline-container">
        {{ range sort $jobs "start" "desc" }}
            {{ partial "job.html" . }}
        {{ end }}
    </div>
</section>
{{ end }}

{{ $edu := site.Data.education }}
{{ if $edu }}
<section class="home-section">
    <hr class="separator">
    <h3>Education</h3>
    <div class="timeline-container">
        {{ range sort $edu "start" "desc" }}
            {{ partial "job.html" . }}
        {{ end }}
    </div>
</section>
{{ end }}

{{ $visits := site.Data.visits }}
{{ if $visits }}
<section class="home-section">
    <hr class="separator">
    <h3>Research Visits</h3>
    <div class="visits-container">
        {{ range sort $visits "date" "desc" }}
            {{ partial "visit.html" . }}
        {{ end }}
    </div>
</section>
{{ end }}    

{{ end }}
