<div class="timeline-item">
    <div class="timeline-content">
        <div class="timeline-header">
            <div class="timeline-title has-marker">
                {{ .position }}
            </div>
            <span class="timeline-period">
                {{ time.Format "2006" .start }}-{{ if .end }}{{ if eq .end "Present" }}Present{{ else }}{{ time.Format "2006" .end }}{{ end }}{{ else }}Present{{ end }}
            </span>
        </div>
        
        <div class="timeline-subheader">
            <span class="timeline-org">
                {{ .department }}, {{ .organization }}
            </span>
        </div>
        
        {{ if .description }}
        <div class="timeline-desc">
            {{ .description | markdownify }}
        </div>
        {{ end }}
    </div>
</div>
