<div class="timeline-item">
    <div class="marker-date">
        {{ partial "utils/smart-yyyy.html" .start }}&ndash;{{ if .end }}{{ partial "utils/smart-yyyy.html" .end }}{{ else }}Now{{ end }}
    </div>

    <div class="timeline-content">
        <div class="timeline-title">
            {{ .position }}
        </div>
        
        <div class="timeline-org">
            <span>{{ .department }}, {{ .organization }}</span>
        </div>
        
        {{ if .description }}
        <div class="timeline-desc">
            {{ .description | markdownify }}
        </div>
        {{ end }}
    </div>
</div>
