{{ define "main" }}

{{ $profile := site.Data.profile }}
<section class="home-info profile-split-layout"> 
    <div class="profile-left">
        {{ with $profile.image }}
            <img src="{{ . }}" alt="{{ $profile.name }}">
        {{ end }}
        
        <div class="profile-socials">
            <div class="social-icons">
                {{ range $profile.socials }}
                    {{ partial "social_item.html" . }}
                {{ end }}
            </div>
        </div>
    </div>

    <div class="profile-right">
        <h3>{{ $profile.name }}</h3>
        {{ partial "profile_intro.html" $profile }}
    </div>
</section>

{{ $pubs := site.Data.publications.main }}
{{ if $pubs }}
<section class="home-section">
    <hr class="separator">
    <h3>Recent Publications</h3>
    <div class="publications-container">
        {{ range first 2 (sort $pubs "date" "desc") }}
            {{ partial "publication.html" . }}
        {{ end }}
    </div>
</section>
{{ end }}

{{ end }}
